*{
    box-sizing: border-box
    ;
    padding: 0;
    margin: 0;
}
/*----------les classe fonctionel flex---------*/
.flex {
display:flex;
flex-wrap:wrap;
}

/* alignement horizontale */
.space-between {
justify-content:space-between;
}

.space-around {
justify-content:space-around;
}

.space-evenly {
justify-content:space-evenly;
}

.justify-center {
justify-content:center;
}

.flex-end {
justify-content:flex-end;
}

.flex-start {
justify-content:flex-start;
}

/* alignement verticale */

.align-center {
align-items:center;
}

.align-end{
align-items:end;
}

/* Gap */

.gap-12 {
gap:12px;
}

/* /*les classe de largeur */
.w-100{
    width: 100%;
}
.w-22{
    width: 22%;
}
.w-48{
    width: 48%;
}


/*container */
.container1000{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.flex{ 
    display:flex;
flex: wrap;
}
.police{
    font-family: 'Times New Roman', Times, serif;
}
a{
    text-decoration: none;
    text-decoration-color:none;
}
ul{
    list-style-type: none;
}